{% load static %}
<article>
        <div class="footer"  id="footer_news">
            <div id="news">
                <p>Важная информация</p>
            </div>
            <div id="line_news">
                <a href="#">
                    <div class="line_block ">
                        <img src="{% static 'img/button/quest.png'%}" width="125px" height="80px" style="margin-top: 0px;"><img>
                        <p style="margin-top:10px">Частые<br> вопросы</p>
                    </div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="{% static 'img/button/head.png'%}" width="125px" height="80px" style="margin-top: 0px;"/>
                        <p style="margin-top:10px; margin-left:-5px;">Распространенные заблуждения</p>
                    </div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="{% static 'img/button/loup.png'%}" width="125px" height="80px" style="margin-top: 0px;">
                        <p style="margin-top:10px">Область применения</p>
                    </div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="{% static 'img/button/fill.png'%}" width="125px" height="80px" style="margin-top: 0px;">
                        <p style="margin-top:10px; margin-left:-5px;">Зарегистрировать прибор</p></div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="{% static 'img/button/camera.png'%}" width="125px" height="80px" style="margin-top: 0px;">
                        <p style="margin-top:10px">Обучающие презентации</p>
                    </div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="{% static 'img/button/book.png'%}" width="125px" height="80px" style="margin-top: 0px;"/>
                        <p style="margin-top:10px">Важные документы</p>
                    </div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="{% static 'img/button/solutions.png'%}" width="125px" height="80px" style="margin-top: 0px;">
                        <p style="margin-top:10px">Типовые решения</p>
                    </div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="{% static 'img/button/warning.png'%}" width="125px" height="80px" style="margin-top: 0px;">
                        <p style="margin-top:10px">Проводимые акции</p>
                    </div>
                </a>
            </div>
        </div>
    </article>
    <article>
        <div class="footer">
            <div id="news">
                <p style="float:left; margin-left:380px;" id="news_p"> <a href="#">Новости</a></p>
                <p style="float:right; margin-right:160px;" id="news_p1"> Медиа-центр</p>

            </div>
            <div class="news"></div>
            <div id="media_info">
                <a href="https://youtu.be/XiClxRw7R3o" style="font-size:15px; margin-top:20px; text-decoration: underline; font-weight: bold;">
                    Спектрофотометры Нового поколения  (видео)</a>

                <br>
                <a href="#" style="font-size:15px; margin-top:20px; text-decoration: underline; font-weight: bold;">Обзор 360 градусов</a>
                <br>
                <a href="#"
                   style="font-size:15px; margin-top:20px; text-decoration: underline; font-weight: bold;">Семинар "Спектрофотометры ТМ ЭКОВЬЮ – новое поколение приборов"</a>

            </div>
        </div>

    </article>