{% extends 'mainapp/information.html' %}
{% load static %}

{% block title %}
    <title> Спектрофотометры нового поколения. Контакты</title>
{% endblock %}

<article>

    {% block titlePage %}
        <div id="news" style="margin-bottom:5px;">
                <h1><p>
                    Контакты
                </p></h1>
            </div>
    {% endblock %}

</article>

{% block pathInc %}
    <a href="/">Главная</a> &rarr;&nbsp;Контакты
{% endblock %}

{% block content %}

                        <div class="a">
                        <p style="text-align: center;"><span><img style="vertical-align: center;" title="Диллеры" src="{% static 'img/o_fed.jpg' %}" alt="Диллеры" width="600" height="337" usemap="#federal" />&nbsp;</span></p>

                        <div>
                            <p style="margin-bottom: 0.1em; margin-top: 0.1em;"><span style="font-family: Arial; font-size: 14px;"><strong><a href="http://pe-lab.ru/">ООО"Промышленные Экологические Лаборатории"</a>&nbsp;</strong>г.Санкт-Петербург&nbsp;-&nbsp;официальное представительство и сервисный центр:</span></p>
                            <p style="margin-bottom: 0.1em; margin-top: 0.1em;"><span style="font-family: Arial; font-size: 14px;"><strong><a href="http://www.pe-lab.ru"><img style="float: right;" src="{% static 'img/logotip_promecolab.jpg' %}" alt="Promecolab" width="330" height="94" /></a></strong></span></p>
                            <p style="margin-bottom: 0.1em; margin-top: 0.1em;"><span style="font-family: Arial; font-size: 14px;">Телефон/факс (многоканальный):&nbsp;(812) 309-2940 - телефон,&nbsp;(812) 244-3703 - факс</span></p>
                            <p style="margin-bottom: 0.1em; margin-top: 0.1em;"><span style="font-family: Arial; font-size: 14px;">Адрес:&nbsp;197341, г. Санкт-Петербург, аллея Поликарпова, д. 1, лит.А, пом. 5Н</span></p>
                            <p style="margin-bottom: 0.1em; margin-top: 0.1em;"><span style="font-family: Arial; font-size: 14px;">Сайт:&nbsp;<a href="http://pe-lab.ru/" target="_blank">www.pe-lab.ru</a></span></p>
                            <p style="margin-bottom: 0.1em; margin-top: 0.1em;"><span style="font-family: Arial; font-size: 14px;">Электронная почта :&nbsp;<a href="mailto:info@pe-lab.ru">info@pe-lab.ru</a> - общий</span></p>
                            <p style="margin-bottom: 0.1em; margin-top: 0.1em;">&nbsp;<span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
                        </div>
                        <div class="mini-menu">
                            <ul>
                                <li class="sub"><a href="#">1. Северо-Западный федеральный округ</a>
                                    <ul style="margin-left: 40px;">
                                        <li>
                                            <p><span style="text-decoration: underline; font-family: arial, helvetica, sans-serif;"><strong>г. Санкт-Петербург:</strong></span></p>
                                            <p class="a"><span style="font-family: arial, helvetica, sans-serif;"><strong><strong><a href="http://pe-lab.ru/">ООО"Промышленный Экологические Лаборатории"</a></strong></strong></span><span style="text-decoration: underline; font-family: arial, helvetica, sans-serif;"><strong><br /></strong></span></p>
                                            <p><span><a href="http://www.pe-lab.ru"><img style="float: right; margin-right: 0px;" src="{% static 'img/logotip_promecolab.jpg' %}" alt="promecolab" width="330" height="94" /></a></span></p>
                                            <p><span style="font-family: arial, helvetica, sans-serif;">Телефон/факс (многоканальный):&nbsp;(812) 309-2940 - телефон,&nbsp;(812) 244-3703 - факс</span></p>
                                            <p><span style="font-family: arial, helvetica, sans-serif;">Адрес:&nbsp;197341, г. Санкт-Петербург, аллея Поликарпова, д. 1, лит.А, пом. 5Н</span></p>
                                            <p><span style="font-family: arial, helvetica, sans-serif;">Сайт:&nbsp;</span><a style="font-family: arial, helvetica, sans-serif;" href="http://pe-lab.ru/" target="_blank">www.pe-lab.ru</a>&nbsp;</p>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub"><a href="#">2. Центральный федеральный округ</a>
                                    <ul style="margin-left: 40px;">
                                        <li>
                                            <p>&nbsp;</p>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub"><a href="#">3. Приволжский федеральный округ</a>
                                    <ul style="margin-left: 40px;">
                                        <li>
                                            <p><strong style="font-family: arial, helvetica, sans-serif;">г. Казань</strong></p>
                                            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><a href="http://www.gk-analit.ru">ООО "ГК Аналитика"</a></strong></span></p>
                                            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><a href="http://www.gk-analit.ru"><img style="float: right;" src="{% static 'img/gk-analit_logo.png'%}" alt="gГК Аналитика" height="69" /></a></strong></span></p>
                                            <p style="text-decoration: none; font-weight: normal; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-family: Verdana, Tahoma, Arial; text-align: justify; padding: 0px;"><span style="font-family: arial, helvetica, sans-serif;">Телефон:&nbsp;+7 (843) 207-04-64</span></p>
                                            <p style="text-decoration: none; font-weight: normal; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-family: Verdana, Tahoma, Arial; text-align: justify; padding: 0px;"><span style="font-family: arial, helvetica, sans-serif;">Адрес:&nbsp;<span style="padding: 0px; margin: 0px;">420029, Казань, Сибирский тракт, д.34, корп.05. оф.432</span></span></p>
                                            <p style="text-decoration: none; font-weight: normal; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-family: Verdana, Tahoma, Arial; text-align: justify; padding: 0px;"><span style="font-family: arial, helvetica, sans-serif;">Сайт: <a href="http://www.gk-analit.ru">www.gk-analit.ru</a></span><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub"><a href="#">4. Южный федеральный округ</a>
                                    <ul style="margin-left: 40px;">
                                        <li>
                                            <p>&nbsp;</p>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub"><a href="#">5. Северо-Кавказский федеральный округ</a>
                                    <ul style="margin-left: 40px;">
                                        <li>
                                            <p>&nbsp;</p>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub"><a href="#">6. Уральский федеральный округ</a>
                                    <ul style="margin-left: 40px;">
                                        <li>
                                            <p>&nbsp;</p>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub"><a href="#">7. Сибирский федеральный округ</a>
                                    <ul style="margin-left: 40px;">
                                        <li>
                                            <p style="text-decoration: none; font-weight: normal; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-family: Verdana, Tahoma, Arial; text-align: justify; padding: 0px;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;<span style="text-decoration: underline;"><strong>г. Кемерово</strong></span></span></p>
                                            <p style="text-decoration: none; font-weight: normal; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-family: Verdana, Tahoma, Arial; text-align: justify; padding: 0px;"><span style="font-family: arial, helvetica, sans-serif;"><strong><strong><a href="http://www.labzakaz.com/">ООО "Алькор ТД"</a></strong></strong></span></p>
                                            <p style="text-decoration: none; font-weight: normal; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-family: Verdana, Tahoma, Arial; text-align: justify; padding: 0px;"><span style="font-family: arial, helvetica, sans-serif;">Телефон: 8(3842) 36-16-83, 36-19-47, 36-18-10</span></p>
                                            <p style="text-decoration: none; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-family: Verdana, Tahoma, Arial; text-align: justify; padding: 0px;"><span style="font-family: arial, helvetica, sans-serif;">Адрес: 650000, Кемеровская область, г.Кемерово, пр.Советский 8Б оф.1</span></p>
                                            <p style="text-decoration: none; font-weight: normal; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-family: Verdana, Tahoma, Arial; text-align: justify; padding: 0px;"><span style="font-family: arial, helvetica, sans-serif;">Сайт: <a href="http://www.labzakaz.com/" target="_blank">www.labzakaz.com</a></span></p>
                                        </li>
                                        <li>
                                            <p><span>&nbsp;<span><strong>г. Новосибирск</strong></span></span></p>
                                            <p><span><strong><a href="http:///www.kom-sib.ru"><img src="{% static 'img/logo_siberia_set.jpg'%}" alt="Сибирь-комплект" width="250" height="35" /></a></strong></span></p>
                                            <p><span><strong><strong><a href="http://www.kom-sib.ru/">ООО &laquo;Сибирь-комплект&raquo;</a></strong></strong></span></p>
                                            <p><span>Телефон: (383) 203-88-88</span></p>
                                            <p><span>Адрес: 630124, г. Новосибирск, ул. Куприна, д. 8/1</span></p>
                                            <p><span>Сайт: <a href="http://www.kom-sib.ru" target="_blank">www.labzakaz.com</a></span></p>
                                            <p><span>&nbsp;</span></p>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub"><a href="#">8. Дальневосточный федеральный округ</a>
                                    <ul style="margin-left: 40px;">
                                        <li>
                                            <p>&nbsp;</p>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub"><a href="#">9. Крымский федеральный округ</a>
                                    <ul style="margin-left: 40px;">
                                        <li>
                                            <p>&nbsp;</p>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub"><a href="#">10. Казахстан</a>
                                    <ul style="margin-left: 40px;">
                                        <li>
                                            <p>&nbsp;</p>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub"><a href="#">11. Белоруссия</a>
                                    <ul style="margin-left: 40px;">
                                        <li>
                                            <p>&nbsp;</p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

{% endblock %}

{% block information %}
    {% include 'mainapp/includes/inc_information.html' %}
{% endblock %}

