<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Спектрофотометры нового поколения. Сотрудничество</title>
    <link href="/static/img/ecove.ico" rel="SHORTCUT ICON" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no"/>
    <meta name="KEYWORDS" content="" />
    <meta name="DESCRIPTION" content="" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/style-page.css"/>
    <link rel="stylesheet" href="/static/css/style-index.css"/>
    <link rel="stylesheet" href="/static/css/contact.css"/>
    <link rel="stylesheet" href="/static/css/cooperation.css"/>


    <script src='/static/js/jquery.maskedinput.min.js' type="text/javascript"></script>
</head>
<body>

<header>

    <div class="header-menu row">

        <div class="liket col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">

        </div>
        <nav id="menu" class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
            <!--<a href="" class="toggleMenu">МЕНЮ</a>-->
            <ul id="nav7">

                <li><a href="/about_us/">О нас</a>

                </li>

                <li><a href="/cooperation/">Сотрудничество</a>

                </li>
                <li class="right"><a href="/contacts/">Контакты</a></li>


            </ul>


        </nav>

    </div>


    <div id="enter_in"><p><strong><a href="" style="text-decoration: none">Войти в кабинет</a></strong></p></div>

    <div class="info-web row">
        <div class="logotype col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
            <a href="/" > <img src="/static/img/LOGO_360.png"/></a>
        </div>
        <!--<div class=""></div>-->
        <div id="shapka" class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">

            <div><strong>Спектрофотометры</strong></div>
            <div id="new_popul"><strong>нового поколения</strong></div>


            <!--<div class="Shapka">-->

            <!--<p>Спектрофотометры</p>-->
            <!--<br/>-->
            <!--<p id="new_popul" >нового поколения</p>-->

            <!--</div>-->
        </div>
    </div>


</header>

<section>
    <article>
        <div class="contact">
            <div id="contact1">
                <div style="text-indent: 20px; font-size: 16px;">
                    <p><a href="/">Главная</a> &rarr;&nbsp;Сотрудничество</p>
                    <p align="center"><strong>Уважаемые Партнеры</strong></p>
                    <p>&nbsp;</p>
                    <p style="text-align: justify;"><strong>Спектрофотометры ТМ ECOVIEW(ЭКОВЬЮ) это лучшее решение для всех типов лабораторий.</strong></p>
                    <p style="text-align: justify;"><em><a style="text-decoration: underline;" onclick="$('#razd1').slideToggle(1);" href="javascript://">Читать подробнее&hellip;</a></em></p>
                    <div id="razd1" style="display: none; text-align: justify; font-style: italic;">
                        <p>Наши спектрофотометры подходят для всех типов лабораторий занимающихся рутинными анализами:</p>
                        <ul>
                            <li>в области экологического контроля
                                <ul>
                                    <li>природной воды,</li>
                                    <li>сточных вод,</li>
                                    <li>подземных вод,</li>
                                    <li>питьевой воды,</li>
                                    <li>морской воды,</li>
                                    <li>атмосферного воздуха,</li>
                                    <li>промышленных выбросов,</li>
                                    <li>воздуха рабочей зоны,</li>
                                    <li>почвы,</li>
                                    <li>донных отложений,</li>
                                    <li>шельфов;</li>
                                </ul>
                            </li>
                            <li>в области контроля качества сырья и готовой продукции во всех сферах производства;</li>
                        </ul>
                        <p>Залогом этого служит высокая точность и надежность наших спектрофотометров по сравнению с другими подобными приборами. Внедренные современные технологии упростили работу с прибором. Пользователь тратит меньше времени для выполнения измерений, чем на других приборах.</p>
                        <p>Наши спектрофотометры могут использоваться для образовательных и исследовательских лабораторий.</p>
                        <p>Для образовательных идеально подходят недорогие модели такие как В-1100 и УФ-1100. Они отличаются высокой надежностью точностью и низкой ценой. Эти модели могут быть использованы для обучения студентов основам фотометрического метода измерений. Использование же этих приборов в комплекте с ПО MWavw Professional V3 позволяет сканировать образец в необходимом участке спектра длин волн. Такой комплект не только решает задачи количественного анализа, но и позволяет разрабатывать новые методики без значительных затрат на сверхдорогие спектрофотометры.</p>
                        <p>Для исследовательских лабораторий могут быть использованы Спектрофотометры УФ-1800, УФ-3000, УФ-3100, УФ-3200, УФ-6100. Они обеспечивают точность измерений не хуже чем у большинства американских, европейских и японских спектрофотометров, а цена этих приборов значительно ниже! Низкая цена обеспечивается не экономией на качестве и точности, а низкой торговой наценкой и отсутствием переплаты за громкое имя. Большое количество дополнительного оборудования облегчает исследовательскую работу.</p>
                    </div>
                    <p style="text-align: justify;"><strong>Спектрофотометры ТМ ECOVIEW(ЭКОВЬЮ) точнее и надежнее чем многие подобные приборы</strong></p>
                    <p style="text-align: justify;"><a style="text-decoration: underline;" onclick="$('#razd2').slideToggle(1);" href="javascript://"><em>Читать подробнее&hellip;</em></a></p>
                    <div id="razd2" style="display: none; text-align: justify; font-style: italic;">
                        <p>Точность спектрофотометров обусловлена точностью конструкции оптический схемы и внедренной системой самокалибровки для всех приборов. В основе прибора лежит монохроматор с дифракционной решеткой и система зеркал. Это классическая оптическая схема спектрофотометра для рутинных анализов. Приборы для исследовательской работы часто требуют очень высоких значений точности, но для количественного рутинного анализа такая точность избыточна. Точность Спектрофотометров В-1100, УФ-1100, В-1200, УФ-1200 ТМ ECOVIEW(ЭКОВЬЮ) достаточна для проведения любого анализа по утвержденной методике измерений. Точность Спектрофотометров УФ-1800, УФ-3000, В-3100, УФ-3200, УФ-3100 ТМ ECOVIEW(ЭКОВЬЮ) достаточна для проведения исследовательских работ.</p>
                        <p>На точность спектрофотометра влияют многие характеристики. В основном это фотометрическая точность и точность установки длины волны. Применение автоматической системы установки длины позволило значительно повысить точность установки у самых недорогих моделей. Использование чувствительных кремневых фотодиодов позволяет поддерживать фотометрическую точность прибора на очень высоком уровне.</p>
                        <p>Следует отметить, что высокая точность не сильно влияет на цену. Все технологии, используемые в наших спектрофотометрах, отработаны годами. Все новинки внедряются только после всестороннего изучения их влияния на точность прибора. С годами точная электроника становится дешевле для покупателя, и ее цена становится доступной для использования в приборах для рутинных анализов.</p>
                        <p>Надежность обусловлена многими факторами. Прежде всего, надежные приборы делать выгодно! Надежный прибор не требует затрат денег на проведение гарантийного ремонта! Надежный и точный прибор всегда будет рекламировать себя сам. Надежному прибору с достойной репутацией отдадут предпочтение при оснащении лабораторий. Надежный прибор выдержит транспортировку по всему миру, а значит его будут охотно использовать везде! Надежный прибор легко продавать! Поставщик всегда уверен, что ему будут благодарны за надежный и точный прибор, а значит к нему обратятся еще не однократно.</p>
                        <p>Спектрофотометры ТМ ECOVIEW(ЭКОВЬЮ) &ndash; надежные приборы! Нам просто не выгодно делать другие! Надежность подтверждена многолетним опытом поставок спектрофотометров во все страны мира.</p>
                    </div>
                    <p style="text-align: justify;"><strong>Спектрофотометры ТМ ECOVIEW(ЭКОВЬЮ) выгодно продавать.</strong></p>
                    <p style="text-align: justify;"><em><a style="text-decoration: underline;" onclick="$('#razd3').slideToggle(1);" href="javascript://">Читать подробнее&hellip;</a></em></p>
                    <div id="razd3" style="display: none; text-align: justify; font-style: italic;">
                        <p>Спектрофотометры ТМ ECOVIEW(ЭКОВЬЮ) обладают рядом технических характеристик, которые делают их непревзойденными на рынке. Для наших партнеров действует система скидок. Продавать надежный, точный прибор по разумной розничной цене легко! Получать скидки приятно! Мы оказываем всяческую поддержку нашим партнерам! Мы следим за добросовестной конкуренцией между нашими дилерами! Мы исключаем фирмы с плохой деловой репутацией из числа наших Партнеров! За более подробной информацией обращайтесь к нашим специалистам.</p>
                    </div>
                    <p style="text-align: justify;"><strong>Спектрофотометры ТМ ECOVIEW(ЭКОВЬЮ) это гарантия прозрачности сделок</strong></p>
                    <p style="text-align: justify;"><em><a style="text-decoration: underline;" onclick="$('#razd4').slideToggle(1);" href="javascript://">Читать далее&hellip;</a></em></p>
                    <div id="razd4" style="display: none; text-align: justify; font-style: italic;">
                        <p>Мы считаем, что долговременные отношения можно выстроить только на прозрачных и понятных условиях сотрудничества. В основе таких условий лежит соблюдение действующего законодательства. Мы не выдумываем схемы в которых спектрофотометры вдруг становятся приборами российской сборки. Все Спектрофотометры ТМ ECOVIEW(ЭКОВЬЮ) пересекают таможенную границу РФ с полным соблюдением требований таможенного законодательства! Мы не скрываем страну происхождения. Мы не используем офшорные компании для оплаты товара! Мы не финансируем теневой бизнес для минимизации ввозной пошлины и экономии НДС.</p>
                    </div>
                    <p>Учитывая достоинства наших Спектрофотометров Нового поколения мы рады предложить сотрудничество региональным дилерам.</p>
                    <p>Для запроса авторизации проекта заполните <strong><a href="#">Бланк Авторизации (скачать)</a></strong>&nbsp;и пришлите на наш электронный почтовый ящик Запрос.</p>
                    <p>Для получения информации по условиям сотрудничества можете связаться с нами:</p>

                    <p>Телефон: +7(812)309-29-40.</p>
                    <p>Электронная почта: <a href="mailto:info@test-ecoview.ru" target="_top">info@test-ecoview.ru</a></p>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="footer"  id="footer_news">
            <div id="news">
                <p>Важная информация</p>
            </div>
            <div id="line_news">
                <a href="#">
                    <div class="line_block ">
                        <img src="/static/img/button/quest.png" width="125px" height="80px" style="margin-top: 0px;"><img>
                        <p style="margin-top:10px">Частые<br> вопросы</p>
                    </div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="/static/img/button/head.png" width="125px" height="80px" style="margin-top: 0px;"/>
                        <p style="margin-top:10px; margin-left:-5px;">Распространенные заблуждения</p>
                    </div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="/static/img/button/loup.png" width="125px" height="80px" style="margin-top: 0px;">
                        <p style="margin-top:10px">Область применения</p>
                    </div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="/static/img/button/fill.png" width="125px" height="80px" style="margin-top: 0px;">
                        <p style="margin-top:10px; margin-left:-5px;">Зарегистрировать прибор</p></div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="/static/img/button/camera.png" width="125px" height="80px" style="margin-top: 0px;">
                        <p style="margin-top:10px">Обучающие презентации</p>
                    </div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="/static/img/button/book.png" width="125px" height="80px" style="margin-top: 0px;"/>
                        <p style="margin-top:10px">Важные документы</p>
                    </div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="/static/img/button/solutions.png" width="125px" height="80px" style="margin-top: 0px;">
                        <p style="margin-top:10px">Типовые решения</p>
                    </div>
                </a>
                <a href="#">
                    <div class="line_block">
                        <img src="/static/img/button/warning.png" width="125px" height="80px" style="margin-top: 0px;">
                        <p style="margin-top:10px">Проводимые акции</p>
                    </div>
                </a>
            </div>
        </div>
    </article>
    <article>
        <div class="footer">
            <div id="news">
                <p style="float:left; margin-left:380px;" id="news_p"> <a href="#">Новости</a></p>
                <p style="float:right; margin-right:160px;" id="news_p1"> Медиа-центр</p>

            </div>
            <div class="news"></div>
            <div id="media_info">
                <a href="https://youtu.be/XiClxRw7R3o" style="font-size:15px; margin-top:20px; text-decoration: underline; font-weight: bold;">
                    Спектрофотометры Нового поколения  (видео)</a>

                <br>
                <a href="#" style="font-size:15px; margin-top:20px; text-decoration: underline; font-weight: bold;">Обзор 360 градусов</a>
                <br>
                <a href="#"
                   style="font-size:15px; margin-top:20px; text-decoration: underline; font-weight: bold;">Семинар "Спектрофотометры ТМ ЭКОВЬЮ – новое поколение приборов"</a>

            </div>
        </div>

    </article>

</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.sub > a').click(function(){
            $('.sub ul').slideUp();
            if ($(this).next().is(":visible")){
                $(this).next().slideUp();
            } else {
                $(this).next().slideToggle();
            }
            return false;
        });
        $('.mini-menu > ul > li > a').click(function(){
            $('.mini-menu > ul > li > a, .sub a').removeClass('active');
            $(this).addClass('active');
        }),
            $('.sub ul li a').click(function(){
                $('.sub ul li a').removeClass('active');
                $(this).addClass('active');
            });
    });
</script>

</body>
</html>