<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    {% block title %}
    {% endblock %}
    <link href="{% static 'img/ecove.ico'%}" rel="SHORTCUT ICON" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no"/>
    <meta name="KEYWORDS" content="" />
    <meta name="DESCRIPTION" content="" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static  'css/style-page.css'%}"/>
    <link rel="stylesheet" href="{% static  'css/style-index.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/contact.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/cooperation.css'%}"/>

    <script src='{% static 'js/jquery.maskedinput.min.js' %}' type="text/javascript"></script>
</head>

<body>

    <header>

        <div class="header-menu row">

            <div class="liket col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">

            </div>
            <nav id="menu" class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <!--<a href="" class="toggleMenu">МЕНЮ</a>-->

                {% include 'mainapp/includes/inc_menu.html' %}




            </nav>

        </div>


        <div id="enter_in"><p><strong><a href="" style="text-decoration: none">Войти в кабинет</a></strong></p></div>

        <div class="info-web row">
            <div class="logotype col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <a href="{% url 'main' %}" > <img src="{% static 'img/LOGO_360.png' %}"/></a>
            </div>
            <!--<div class=""></div>-->
            <div id="shapka" class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">

                <div><strong>Спектрофотометры</strong></div>
                <div id="new_popul"><strong>нового поколения</strong></div>

            </div>
        </div>


    </header>

    <section>


        {% block titlePage %}
        {% endblock %}
        <article>
            <div class="contact">
                <div id="contact1">
                    <div style="text-indent: 20px; font-size: 16px;">
                        <p>
                            {% block pathInc %}
                            {% endblock %}
                        </p>
                        {% block content %}
                        {% endblock %}

                    </div>
                </div>
            </div>
        </article>


        {% block information %}
        {% endblock %}



    </section>

    {% block footer %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.sub > a').click(function(){
            $('.sub ul').slideUp();
            if ($(this).next().is(":visible")){
                $(this).next().slideUp();
            } else {
                $(this).next().slideToggle();
            }
            return false;
        });
        $('.mini-menu > ul > li > a').click(function(){
            $('.mini-menu > ul > li > a, .sub a').removeClass('active');
            $(this).addClass('active');
        }),
            $('.sub ul li a').click(function(){
                $('.sub ul li a').removeClass('active');
                $(this).addClass('active');
            });
    });
</script>
    </body>
</html>