{% extends 'mainapp/information.html' %}
{% load static %}

{% block title %}
    <title>Продукты. {{ product.name }}</title>
{% endblock %}

<article>

    {% block titlePage %}
        <div id="news" style="margin-bottom:5px;">
                <h1><p>
                    {{ product.name }}
                </p></h1>
            </div>
    {% endblock %}

</article>

{% block pathInc %}
    <a href="/">Главная</a> &rarr;&nbsp;<a href="/products/{{ product.category.id }}">{{ product.category.name }}</a> -> {{ product.name }}
{% endblock %}

{% block content %}

    <h3>{{ product.name }}</h3>
    {% if product.image %}
        <img src={{ product.image.url }} width="300">
    {% endif %}
    <div><b>Краткое описание:</b> {{ product.short_desc }}</div>
    <div><b>Описание:</b> {{ product.description }}</div>
    <div><b>Цена:</b> {{ product.price }}</div>
    <div><b>Количество:</b> {{ product.quantity }}</div>


{% endblock %}

{% block information %}
    {% include 'mainapp/includes/inc_information.html' %}
{% endblock %}

